body, #entity, #heroBlock, #searchbar, .galleryHeadingContainer, .pageTabsContainer, .notificationsContainer, #bottom {
    background-color: black;
    color: whitesmoke; }

#tracker, #menubottombar, #tracker .fakeTop .toggleVisibility {
    background-color: #111; }

.thumb {
    background-color: black;
    border-color: #333; }

a, table.listing td.title a, table.listing td.topic a {
    color: #3c96f0; }

table.listing td.title a:visited, table.listing td.topic a:visited {
    color: #3c96f0 !important; }

.fpaItemsWrapper, .greyTopBorderBlock, .relatedContentContainer .relatedSubjectsContainer .relatedSubjectItems .relatedSubject {
    border-color: #333; }

.fpaItem a {
    color: whitesmoke; }

.fpaImageContainer::before {
    background-color: #191919;
    opacity: 0.8; }

h1, h2, header .subheading {
    color: #9a0e36; }

h3 a {
    color: whitesmoke; }

#menubar {
    background-color: #730b2c;
    background-image: linear-gradient(to bottom, #78172d, #730b2c 68px);
    box-shadow: inset 0 -1px 0 #730b2c; }

#bottom div.hr {
    background-color: #222;
    height: 1px; }

#contentArea {
    background-color: #111111;
    border-color: #333333; }

.relatedItProContent {
    background-color: #222; }

#search input.text, input.text, textarea, input[type="text"] {
    background-color: black;
    color: white; }

.keywordSearch, .keywordSearch input.submit {
    background-color: #222;
    border-color: #333; }

#search .options {
    border-color: #333; }

#mainSearch {
    border-color: #333333; }

.dropdown ul {
    background-color: #111111;
    border-color: #333333; }

.dropdown li, .dropdown li > a {
    color: whitesmoke !important; }

#menu > ul > li.more.dropdown {
    background-color: #111111;
    border-color: #333333; }
#menu > ul > li.more.dropdown > span {
    color: whitesmoke; }

table.highlights td, #bestBuyGuides li, #recentlyTested li, .mainColumn.frontpage {
    border-color: #444; }

.poll label:hover {
    background-color: #1a1a1a; }

#categoryBar li a {
    color: whitesmoke; }

.reactieBody {
    border-color: #444; }
.reactieBody.informative {
    background-color: #181a18; }
.reactieBody.spotlight {
    background-color: #222422; }

#smilies {
    background-color: #111; }

.darkFpBlock {
    background-color: #222222;
    border-color: #333333; }

#community .communityReviews .userReview .reviewContent .userReviewDescription, .nextPreviousArticleContainer .previousArticle, .nextPreviousArticleContainer .nextArticle {
    background-image: linear-gradient(to bottom, #0f0f0f, #0a0a0a);
    border-color: #333; }

#community .communityReviews {
    border-color: #444; }
#community .communityItem, #community .communityItem:nth-child(-n+2) {
    border-color: #333; }

.commentCount {
    color: #aaa !important; }

.thumb.usericonsmall.empty {
    border-color: #333; }

.thumb.empty::before {
    background: url("data:image/gif;base64,R0lGODdhAwADAIACAAAAAGNjYywAAAAAAwADAAACAwxuWAA7"); }

.article table {
    background-color: #222222;
    border-color: #555; }
.article table td {
    border-color: #555; }

.reactieHeader .userLink, .authorBlock .info .name a {
    color: whitesmoke; }

/*
 *  GATHERING OF TWEAKERS
 */
.action_list li.viewcount {
    color: whitesmoke; }

div.info, div.error, div.message, div.faq, form.insertMessage, form.form1, form.form2, #folders, #myprofilecontainer {
    background-image: linear-gradient(to bottom, #1a1a1a, #0d0d0d 40px);
    border-color: #333; }

div.message.ownpost {
    background-image: linear-gradient(to bottom, #1a1a1a, #0d0d0d 40px); }
div.message.bestAnswer {
    background-image: linear-gradient(to bottom, #31332b, #242622);
    border-color: #3a402f; }

.bar {
    background-color: #0e0e0e;
    color: whitesmoke;
    border-color: #333; }

h2.bar.question {
    background-color: #087099;
    background-image: linear-gradient(to bottom, #087099, #076e94); }
h2.bar.other {
    background-color: #707070;
    background-image: linear-gradient(to bottom, #4a4a4a, #343434); }
h2.bar.answer {
    background-color: #37420c;
    background-image: linear-gradient(to bottom, #6b8018, #596615); }

.user {
    color: whitesmoke; }
.user.crew {
    color: #b9133d; }

.messagecontent .message-quote-div {
    background-color: #222;
    border-color: #444;
    color: whitesmoke; }
.messagecontent .toggle-quote {
    background-color: #222;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #111 25%);
    border-color: #444; }

.pageTabs li {
    background-color: #404040;
    background-image: linear-gradient(to bottom, #333333, #262626);
    border-color: #444; }
.pageTabs li.active {
    background-color: #595959;
    background-image: linear-gradient(to bottom, #404040, #333333); }
.pageTabs li.active a {
    color: #cc1647; }
.pageTabs li a {
    color: whitesmoke; }

/* [code] blokken */
table.phphighlight {
    background-color: #222; }
table.phphighlight td, table.phphighlight td pre, table.phphighlight td code {
    color: whitesmoke; }
table.phphighlight td.phphighlightcode pre, table.phphighlight td.phphighlightcode code {
    background-color: #222; }
table.phphighlight td.phphighlightline {
    background-color: #737270; }

table.listing {
    background-color: #595959;
    background-image: linear-gradient(to bottom, #4d4d4d, #404040); }
table.listing td {
    background-image: linear-gradient(to bottom, #1a1a1a, #0d0d0d);
    border-top-color: #292929;
    border-bottom-color: #333;
    color: whitesmoke;
}
table.listing td.ind, table.listing td.last {
    border-color: #333; }
table.listing td a {
    color: whitesmoke; }

.action_list li.rating .ratingcount {
    color: #777; }

#forum_tabs {
    border-color: #333; }

.labelCard {
    background-color: #333; }
.labelCard a {
    color: whitesmoke; }

.userklipklap {
    background-image: linear-gradient(to bottom, #808080, #666666);
}

.bar.warning {
    background-color: #413437;
    color: whitesmoke;
}
/*# sourceMappingURL=custom.css.map */
